html {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
}
header {
    background-image: url(https://i.ibb.co/TbLSm9K/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 500px;
}

.header-container{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
