@use "globals";

@mixin btn-basic {
    width: 100%;
    height: 3rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
}

.input-text {
    border: none;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 0.5rem;
    width: 100%;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    outline: none;
}

.btn-main {
    @include btn-basic();
    background-color: #111727;
    border: 1px solid #111727;
    color: white;
    margin-bottom: 1rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;

    &:hover {
        background-color: white;
        border: 1px solid #111727;
        color: #111727;
    }
}

.btn-google {
    @include btn-basic();
    background-color: white;
    border: 1px solid #111727;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    picture {
        width: 2rem;
        height: 2rem;
        background-color: white;
        display: flex;
        border-radius: 2px;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
            height: 75%;
        }

        span {
            font-size: 0.9rem;
            padding: 0.9rem;
        }
    }

    &:hover {
        opacity: 0.5;
    }
}

.btn-sec{
    @include btn-basic();
    width: 5.75rem;
    padding: 0.5rem 1.5rem;
    background-color: #111727;
    border: 1px solid #111727;
    color: white;
    border-radius: 2rem;
    font-size: 0.9rem;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;

    &:hover {
        background-color: white;
        border: 1px solid #111727;
        color: #111727;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .btn-main{
        padding: 0.5rem 2.5rem;
    }

    .btn-google{
        padding: 0.5rem 2.5rem;
    }
}